<mat-card class="card">
  <mat-card-title>Novo produto</mat-card-title>


  <form>

    <mat-form-field class="nome">
      <input matInput placeholder="Nome" [(ngModel)]="produto.name" name="name">
    </mat-form-field>

    <mat-form-field class="preco">
      <input matInput placeholder="Preço (R$)" [(ngModel)]="produto.price" name="price">
    </mat-form-field>

  </form>


  <span class="botoes">
    <button class="criar" mat-raised-button (click)="createProduct()" color="primary">Salvar</button>
    <button class="cancelar" mat-raised-button (click)="cancel()">Cancelar</button>
  </span>

</mat-card>

